body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: rgb(215, 203, 188);
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.myInput {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.myOutput {
    width: calc(65ch + 20px);
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}


@media (min-width: 500px) {
    /* input[type="text"] {
        width: calc(65ch + 20px);
    } */
}

.beautiful-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #3578d6;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.beautiful-button:hover {
    background-color: #1cd519;
}

a:link,
a:visited {
    color: #3578d6;
    /* Default link color */
    text-decoration: none;
}

a:hover,
a:active {
    color: #20c51d;
    /* Bright link color when hovered or active */
}